    <div ng-controller="yajimCtrl">
            <main id="yajimMain">
                  <header class="header">  
                    <div class="container-fluid">
                        <div ui-view="header"></div>  
                    </div>
                 </header>
                <section>
                    <div class="container-fluid">
                        <aside class="col-md-4 col-sm-4 aside-left">
                            <div ui-view="leftColumn"></div>
                        </aside>
                        <div class="col-md-12 col-sm-12 messages-window height"> 
                            <div ui-view="centerColumn"></div>
                        </div>
                        <aside class="col-md-4 col-sm-4 aside-right">
                            <div ui-view="rightColumn"></div>
                        </aside>
                    </div>
                </section>
            </main>

    </div>

