<div class="left-column height" ng-controller="leftCtrl">
	
<div class="userlist">
	<div class="left-column__title-users">
		<h4> {{ leftCtrl.title }} </h4>
		<!--<h3>{{online_friends}}</h3>-->
		<i class="fa fa-plus" id="addUser" aria-hidden="true"></i>
		<!-- <div class="roomlist__dropout-menu" ng-hide="hideMenu">
				<div class="wrapper">
					<i class="fa fa-minus" aria-hidden="true" ng-click="toggleMenu()"></i>										
				</div>
				<span>Add</span>
		</div> -->
	</div>
	<!--ДЛЯ ЗАРЕГИСТРИРОВАННЫХ ЮЗЕРОВ НАДО ИМПОЛЬЗОВАТЬ ЭТОТ КОД-->

	<!--<ul class="list-group" id="users">-->
		<!--<li ng-repeat="user in leftCtrl.serviceUsers track by user.tokenId" class="list-group-item">-->
			<!--<a href="" ng-click="viewOptionUser(user)">{{ user.name }}</a>-->
		<!--</li>-->
	<!--</ul>-->

	<ul class="list-group" id="users">
		<li ng-repeat="user in leftCtrl.users" class="">
			<span class="user-online-status"></span><a href="">{{ user }}</a>
		</li>
	</ul>
</div>

<div class="divider"></div>

<div class="roomlist">
	<div class="left-column__title-rooms">
		<h4> {{title}} </h4>
		<i class="fa fa-plus" id="addRoom" aria-hidden="true" ng-click="toggleMenu()" ng-hide="hidePlus">
		</i>
		<div class="roomlist__dropout-menu" ng-hide="hideMenu">
			<div class="wrapper">
				<i class="fa fa-minus" aria-hidden="true" ng-click="toggleMenu()"></i>										
			</div>
			<span>Add</span>
			<span>Create</span>
		</div>
	</div>
<div class="">
	<ul class="list-group" id="rooms">
		<li ng-repeat="room in rooms" ng-model="list" class="">
			<a href="">{{ room }}</a>
		</li>
	</ul>
	<!-- <div id="addRoom__input">
		<input class="form-control" ng-model="addMe">
		<button class="btn btn-info"  ng-click="addItem()">Add</button>
	</div> -->
</div>
</div>

</div>

<div class="settings">
	<div class="left-column__input">
			<div class="settings-icon">
					<svg width="20" height="20" fill="#fff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 250.313 250.313" style="enable-background:new 0 0 250.313 250.313;" xml:space="preserve">
					<g id="Search">
					<path d="M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76
					   c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911
					   c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38
					   c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146
					   c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236
					   C170.146,140.044,140.043,170.146,102.911,170.146z"/>
					</g>
					</svg>
			</div>
			<input class="left-column__input-settings" type="text" placeholder="find contact or room">
	</div>
</div>