<div ng-controller="headerCtrl">
<div class="container-fluid">    
    <div class="col-md-4 left-column-header">
        <div class="logo">
            <img src="img/logo_yajm.png" alt="yajim">
        </div>  
        <div class="yajim-font">
            <span>Yajim</span>
            <span>Yajim</span>
        </div> 
    </div>
    <div class="col-md-12 center-col">
        <div class="contact-info">
            <span class="contact-info__name">Contact_2<span class="online-status"></span>
        </span>
            <span class="contact-info__jabber-id">contact_2@yajim.com</span>
        </div>
        <div class="input">
            <input class="input-field form-control" type="text" placeholder="search">
            <span class="search-icon"></span>            
        </div>
    </div>
    <div class="col-md-4 menu-col">
        <span>Yajim</span>
        <div class="burger-menu" ng-click="openMenu()">
            <span></span>
            <div class="burger-menu-logout" ng-hide="hideMenu">
               <ul>
                   <li><a ui-sref="carousel" ng-click="logout()">Log out</a></li>
               </ul>
            </div>
        </div>

    </div>
</div>
</div>