.header
  padding: 0

a:focus
  outline: none
  outline-offset: 0px

.yajim-font
  position: relative

.yajim-font span
  &:nth-of-type(1)
    font-size: 4.375em
    color: rgba(255,255,255,0.1)
    font-family: Arial, sans-serif
    font-weight: 900
    text-transform: uppercase
    position: absolute
    top: 10px
    left: 95px

.yajim-font span
  &:nth-of-type(2)
    font-size: 2.625em
    color: rgba(255,255,255,1)
    font-family: Arial, sans-serif
    font-weight: bolder
    text-transform: uppercase
    position: absolute
    top: 56px
    left: 145px

.carousel-header
  display: flex
  justify-content: flex-end
  align-items: center
  background-color: #086294
  min-height: 100px
  padding-right: 40px

.carousel
  padding: 0

.carousel-header__buttons
  color: #fff
  text-transform: uppercase  
  text-decoration: none
  height: 100px
  line-height: 100px
  padding: 0 30px 0 30px
  outline: none
  &:visited
    color: #fff
    text-transform: uppercase
    text-decoration: none
  &:hover
    color: #fff
    text-transform: uppercase
    text-decoration: none
    background-color: #071d29
    height: 100px

.carousel-control.right,.carousel-control.left
  background-image: none

.carousel-inner
  height: 87vh
  width: 100%

.carousel-inner
  img
    width: 100%
    max-height: 680px
    display: block



// Modal login form

.modal-window
  display: none
  position: fixed
  left: 0
  top: 0
  z-index: 20
  width: 100%
  height: 100%


.modal-content 
  background-color: #071d29
  color: #fff
  font-family: 'Open Sans Condensed', sans-serif
  margin: 150px auto 80px auto
  border-radius: 5px 
  width: 660px
  height: 570px  
  position: relative

  h2 
    text-align: center
    text-transform: uppercase
    font-size: 1.56em 
    font-weight: bold

.form-inner  
  margin-left: 20%

.modal-content 
  input[type=text], input[type=password], input[type=email]
    width: 28em
    height: 2.5em
    border-radius: 5px

label
  margin-top: 25px  
  text-transform: uppercase

.login-submit
  width: 240px
  height: 60px
  text-align: center
  text-transform: uppercase
  font-size: 1.25em
  outline: none
  color: #fff
  background-color: #ba1142
  margin: 60px 0 40px 7%
  &:hover
    background-color: #730c2a  
    color: #fff

.modal-content p
  padding-left: 111px

//Animate Form
.animate 
  -webkit-animation: animateform 0.6s
  animation: animateform 0.6s


@-webkit-keyframes animateform
  0%
    -webkit-transform: scale(0)
  100%
    -webkit-transform: scale(1)

    
@keyframes animateform
  0%
    transform: scale(0) 
  100%
    transform: scale(1)





//Contact Us Form
.contactUs
  color: #fff
  font-family: 'Open Sans Condensed', sans-serif
  background: url('../../login-pattern-bg.png') no-repeat  
  background-position: 100% 100%
  background-size: cover

  h2
    text-align: center
    padding: 35px 0 15px 0
  p  
    text-align: center

.contact 

.contact-centered
  padding: 0 27% 0 27%

.contact-submit  
  width: 240px
  height: 60px
  font-size: 1.25em
  outline: none
  color: #fff
  background-color: #086294
  margin: 60px 0 40px 70px
  position: relative
  &:hover
    background-color: #033856
    color: #fff

.contact-submit-bg
  background: url('../../contacts-send.png') no-repeat
  width: 40px
  height: 40px
  position: absolute
  top: 12px
  left: 103px

.contact-message
  width: 24.75em
  resize: none
  height: 180px
  border-radius: 5px  
  color: #000


//footer
.footer 
  display: flex
  justify-content: space-between
  align-items: baseline
  padding-bottom: 30px
  
  p
    margin-left: 100px
    font-size: 1.25em

.socials
  display: flex
  margin-right: 100px

  img
    padding-left: 25px 
    cursor: pointer 