<div class="container-fluid">
		<header class="col-md-20 header">
        <div class="logo">
            <img src="img/logo_yajm.png" alt="yajim">
        </div>   
        <div class="yajim-font">
          <span>Yajim</span>
          <span>Yajim</span>
        </div>
			<div class="carousel-header">
				<a class="carousel-header__buttons" href="#" data-toggle="modal"
                   data-target="#myModalRegister">Register</a>
				<a class="carousel-header__buttons" id="login-btn" href="#" data-toggle="modal" data-target="#myModal">Log In</a>
      </div>
      
    <div class="modal" id="myModal" role="dialog">
      <div class="modal-dialog">
        <form class="modal-content animate" action="" name ="myForm" novalidate  ng-submit="CheckUser(checkUser)">
          <h2>Login</h2>
          <div class="form-inner container">
            <label>Username</label>
            <input class="form-control" name="user" ng-model="login_data.username" ng-required="requireValue" type="text"
                   ng-minlength="4" ng-maxlength="16"
                   ng-pattern="matchPattern" placeholder="Use A-Z, 0-9 min 4 - max 16 symbols"
                   name="username" required>
        
            <label>Password</label>
            <input class="form-control" type="password" name="password" ng-model="login_data.password" ng-required="requireValue"
                   ng-minlength="8" ng-maxlength="64"
                   ng-pattern="matchPattern" placeholder="Use A-Z, 0-9 min 8 - max 64 symbols"
                   name="psword" required>
            <label>Repeat Password</label>
            <input class="form-control" type="password" name="password" ng-model="login_data.passwordRepeat" ng-required="requireValue"
                   ng-minlength="8" ng-maxlength="64"
                   ng-pattern="matchPattern" my-enter="login()" placeholder="Use A-Z, 0-9 min 8 - max 64 symbols"
                   name="psword" required>
            <span class="summary" ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'"></span>

            <button class="btn login-submit" type="submit" ng-disabled="myForm.$invalid"
                    data-dismiss="modal" ng-click="login()">Go Yajim!</button>
            <span>{{message}}</span><br/>
            <span>{{messageRep}}</span>
  
            <p>Please fill in the registration form. </p>
             <p> Thank you for using our product!</p>
          </div>
        </form>
      </div>
    </div>
		</header>
		<div id="yajimSlides" class="carousel slide col-md-20" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#yajimSlides" data-slide-to="0" class="active"></li>
    <li data-target="#yajimSlides" data-slide-to="1"></li>
    <li data-target="#yajimSlides" data-slide-to="2"></li>
    <li data-target="#yajimSlides" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="img/1_security.png">
    </div>

    <div class="item">
      <img src="img/2_anonimity.png">
    </div>

    <div class="item">
      <img src="img/3_customizable.png">
    </div>
  </div>

  <a class="left carousel-control" href="#yajimSlides" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#yajimSlides" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="contactUs col-md-20">
    <form class="contact" action="">
        <h2>Contact Us</h2>
        <p>If you have any suggestions, please do not hesitate to contact our team</p>
        <div class="container contact-centered">
          <label>Name</label>
          <input class="form-control" type="text" placeholder="Use A-Z, 0-9 min 5 - max 9 symbols" name="name" required>
      
          <label>E-mail</label>
          <input class="form-control" type="email" placeholder="email" name="email" required>
          <label>Message</label>
          <textarea class="contact-message" placeholder="Type your message here" name="text-area" resizeable="false" required></textarea>
          <button class="btn contact-submit" type="submit">
            <span class="contact-submit-bg"></span>
          </button>
        </div>
      </form>
      <div class="footer">
        <p>The YAJIM name and logo are trade marks of YAJIM team.</p>
        <div>
          <ul class="socials">
            <li><img src="img/facebook_logo.png" alt="facebook"></li>
            <li><img src="img/google-plus_icon.png" alt="google+"></li>
            <li><img src="img/share_icon.png" alt="share"></li>
          </ul>
        </div>
      </div>
</div>
</div>
