<div class="window-main height" id="chat_content">
{{ centerCtrl.title }}


</div>
<div class="input-message">
        <input  placeholder="Message" id="message_input" autocomplete="off" class="form-control" />
        <span class="attach-file"></span>
        <a href="#" class="btn-send" id="submit_btn"></a>
        
</div>